@import "../App.module.scss";
.main__block {
  // display: flex;
  // height: 48px;
  // gap: 40px;
  // margin: 20px 0;
  @apply 
  flex 
  h-12 
  my-5 
  mx-0
  flex-wrap
  justify-between
  gap-5
  840px:gap-10
  840px:justify-start
  840px:flex-nowrap
  ;
  // @media screen and (max-width: 840px) {
  //   flex-wrap: wrap; 
  //   justify-content: space-between;
  //     gap: 20px;
  // }

}
.logo {
  // display: flex;
  // align-items: center;
  // cursor: pointer;
  @apply 
  flex 
  items-center 
  cursor-pointer
  w-40
  ;
  img {
    @apply h-12 w-20;
    // height: 48px;
    
  }
  .kanzler * {
    @apply h-12 w-20;
  }
  // &::before {
  //   content: "";
  //   display: inline-block;
  //   background-color: $background-logo-color;
  //   width: 90px;
  //   height: 48px;
  //   // @apply
  //   // inline-block
  //   // bg-background-logo-color
  //   // w-20
  //   // h-12;
  // }
   @media screen and (max-width: 840px) {
    order: 1;
  }
  @media screen and (max-width: 540px) {
    display: none;
    }
}
.catalog {
  // font-family: "Inter";
  // font-size: 13px;
  // line-height: 16px;
  // font-weight: 500;
  // color: $red-text;
  // background-color: $catalog-button-background;
  // border-radius: $radius;
  // padding: 16px 25px;
  // display: flex;
  // gap: 7px;
  // align-items: center;
  // cursor: pointer;
  @apply 
  font-inter 
  text-sm 
  font-medium 
  text-red-text 
  bg-catalog-button-background 
  rounded 
  py-4 
  px-6 
  flex 
  gap-2
  items-center
  cursor-pointer
  ;
  &::before {
    content: "";
    display: inline-block;
    background-image: url("../assets/catalog.svg");
    width: 11px;
    height: 11px;
  }
   @media screen and (max-width: 840px) {
    order: 2;
    margin-right: auto;
  }

}
.search {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px 20px;
  width: 100%;
  border-radius: $radius;
  border: $border;
  background-color: $search-background;
  color: $text-color;
  input {
    background-color: $search-background;
    border: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.01em;
    height: 24px;
    width: 100%;
    @apply outline-none;
  }
   @media screen and (max-width: 840px) {
    order: 4;
  }
}
.buttons {
  display: flex;
  gap: 16px;
  button {
    cursor: pointer;
    border-radius: $radius;
    border: $border;
    background-color: $search-background;
    height: 48px;
    width: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  @media screen and (max-width: 840px) {
    order: 3;
  }
}
